<section class="HomeBanner">
    <div nz-row>
        <div nz-col nzSpan="24" [nzSm]="24" [nzXs]="24" [nzMd]="24">
            <div class="banner-heading-top">
                <h1>Investor <span>Charter</span></h1>
            </div>
        </div>
    </div>
</section>
<section class="home-section inner-page-features pb-0">
    <div class="container">
        <div nz-row nzGutter="16">
            <div nz-col nzSpan="24">
                <div class="section-heading">
                    <h3>Investor<span> Charter</span></h3>
                </div>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="20" nzOffset="2">
                <nz-card class="terms">
                    <h2>A. Vision and Mission Statements for investors</h2>
                    <h4><strong class="m-left">• Vision</strong></h4>
                    <p class="m-left-2">Invest with knowledge & safety.</p>
                    <h4><strong class="m-left">• Mission</strong></h4>
                    <p class="m-left-2"><strong>•</strong> To enter into an agreement with the client providing all details including fee details, aspect of Conflict-of-interest
                    disclosure and maintaining confidentiality of information.<br>
                    <strong>•</strong> To do a proper and unbiased risk – profiling and suitability assessment of the client.<br>
                    <strong>•</strong> To obtain registration with Know Your Client Registration Agency (KRA) and Central Know Your Customer Registry (CKYC).<br>
                    <strong>•</strong> To conduct audit annually.<br>
                    <strong>•</strong> To disclose the status of complaints in its website.<br>
                    <strong>•</strong> To disclose the name, proprietor name, type of registration, registration number, validity, complete address with
                    telephone numbers and associated SEBI regional/local Office details in its website.<br>
                    <strong>•</strong> To employ only qualified and certified employees.<br>
                    <strong>•</strong> To deal with clients only from official number.<br>
                    <strong>•</strong> To maintain records of interactions, with all clients including prospective clients (prior to onboarding), where any
                    conversation related to advice has taken place.<br>
                </p>
                    <h2>B. Details of business transacted by the Investment Adviser with respect to the investors</h2>
                    <h4><strong class="m-left">• Onboarding of Clients</strong></h4>
                    <p class="m-left-2">
                        <strong>o</strong> Sharing of agreement copy<br>
                        <strong>o</strong> Completing KYC of clients
                    </p>
                    <h4><strong class="m-left">• Disclosure to Clients</strong></h4>
                    <p class="m-left-2">
                        <strong>o</strong> To provide full disclosure about its business, affiliations, compensation in the agreement.<br>
                        <strong>o</strong> To not access client’saccounts or holdings for offering advice.<br>
                        <strong>o</strong> To disclose the risk profile to the client.<br>
                    <h4><strong class="m-left">• To provide investment advice to the client based on the risk-profiling of the clients and suitability of the client.</strong></h4>
                    <h2>D. Details of grievance redressal mechanism and how to access it</h2>
                    <p class="m-left-2">
                        <strong>1.</strong> In case of any grievance / complaint, an investor should approach the concerned Investment Adviser and shall ensure
                    that the grievance is resolved within 30 days .<br>
                        <strong>2.</strong> If the investor’s complaintis not redressed satisfactorily, one may lodge a complaint with SEBI on SEBI’s 'SCORES'
                        portal which is a centralized web-based complaints redressalsystem. SEBI takes up the complaints registered via SCORES
                        with the concerned intermediary for timely redressal. SCORES facilitates trackingthe status of thecomplaint.<br>
                        <strong>3.</strong> With regard to physical complaints, investors may send their complaints to: Office of Investor Assistance and
                        Education, Securities and Exchange Board of India, SEBI Bhavan, Plot No. C4-A, ‘G’ Block, Bandra-Kurla Complex, Bandra
                        (E), Mumbai - 400 051.
                </p>    
                <h2>E. Expectations from the investors (Responsibilities of investors)</h2>
                <h4><strong class="m-left">• Do’s</strong></h4>
                <p class="m-left-2">
                    <strong>i.</strong> Always deal with SEBI registered Investment Advisers.<br>
                    <strong>ii.</strong> Ensure that the Investment Adviser has a valid registration certificate.<br>
                    <strong>iii.</strong> Check for SEBI registration number. Please refer to the list of all SEBI registered Investment Advisers which is
                    available on SEBI website in the following link.<br>
                    <strong>iv.</strong> Pay only advisory fees to your Investment Adviser. Make payments of advisory fees through banking channels only and
                    maintain duly signed receipts mentioning the details of your payments.<br>
                    <strong>v.</strong> Always ask for your risk profiling before accepting investment advice. Insist that Investment Adviser provides
                    advisory strictly on the basis of your risk profiling and take into account available investment alternatives.<br>
                    <strong>vi.</strong> Ask all relevant questions and clear your doubts with your Investment Adviser before acting on advice.<br>
                    <strong>vii.</strong> Assess the risk–return profile of the investment as well as the liquidity and safety aspects before making
                    investments.<br>
                    <strong>viii.</strong> Insist on getting the terms and conditions in writing duly signed and stamped. Read these terms and conditions
                    carefully particularly regarding advisory fees, advisory plans, category of recommendations etc. before dealing with any
                    Investment Adviser.<br>
                    <strong>ix.</strong> Be vigilant in your transactions.<br>
                    <strong>x.</strong> Approach the appropriate authorities for redressal of your doubts / grievances.<br>
                    <strong>xi.</strong> Inform SEBI about Investment Advisers offering assuredor guaranteed returns .<br>
                </p>
                <h4><strong class="m-left">• Don’ts</strong></h4>
                <p class="m-left-2">
                    <strong>xii.</strong> Don’t fall for stock tips offered under the pretext of investment advice.<br>
                    <strong>xiii.</strong> Do not provide funds for investment to the Investment Adviser.<br>
                    <strong>xiv.</strong> Don’t fall for the promise of indicative or exorbitant or assured returns by the Investment Advisers. Don’t let
                    greed overcome rational investment decisions.<br>
                    <strong>xv.</strong> Don’t fall prey to luring advertisements or market rumors.<br>
                    <strong>xvi.</strong> Avoid doing transactions only on the basis of phone calls or messages from any Investment adviser or its
                    representatives.<br>
                    <strong>xvii.</strong> Don’t take decisions just because of repeated messages and calls by Investment Advisers.<br>
                    <strong>xviii.</strong> Do not fall prey to limited period discount or other incentive, gifts, etc. offered by Investment advisers.<br>
                    <strong>xix.</strong> Don’t rush into making investments that do not match your risk-taking appetite and investment goals.<br>
                    <strong>xx.</strong> Do not share login credential and password of your trading and demat accounts with the Investment Adviser.<br>
                </p>
                <h2>F. Governing Law and Jurisdiction</h2>
                <p class="m-left-2">
                    In case of any dispute, either judicial or quasi-judicial the same will be subject to the exclusive jurisdiction of the
                    courts in Mumbai. These terms shall be construed in accordance with the laws prevalent in India and are subject to SEBI
                    guidelines, circulars, press releases or notifications that may be issued by SEBI from time to time or the Government of
                    India, to regulate the activities of RIAs (Registered Investment Advisors).
                </p>
                </nz-card>
            </div>
        </div>
    </div>
</section>