.sell-home {
    background-color: #EDF7F6;
    padding-top: 180px;
    position: relative;
    padding-bottom: 60px;
    z-index:300;

    h1 {
        color: #13171F;
        font-size: 64px;
        line-height: 75px;
        font-weight: 800;
        margin-bottom: 24px;

        span {
            font-weight: 400;
        }
    }

    p {
        color: #13171F;
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 80px;

        span {
            display: block;

            strong {
                text-decoration: underline;
            }
        }
    }

    .sell-img {
        width: 608px;
        margin-top: -18px;
    }

    .banner-search {
        width: 100%;
        margin: 40px auto 0px;
        height: 64px;
        border-radius: 6px;
        box-shadow: 0 40px 80px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 0px;

        nz-input-group {
            width: calc(100% - 160px);
            position: relative;
            text-align: left;
            padding: 0px;
            border: none;
            border-radius: 6px;

            .ant-input {
                border: none;
                height: auto;
                padding: 16px 30px 16px 60px;
                line-height: 32px;
                margin-bottom: 0px;
                text-align: left;
                border-radius: 0 0 0 4px;
                width: 100%;
            }

            .ant-input-suffix {
                background-image: url('https://d1um67fy76m42o.cloudfront.net/assets/icons/location.png');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 16px;
                width: 16px;
                display: block;
                right: auto;
                position: absolute;
                left: 24px;
                top: 24px;

                i {
                    display: none;
                }
            }
        }

        .getStartedBtn {
            min-width: 160px;
            height: 64px;
            padding: 0px;
            border: none;
            line-height: 64px;
            border-radius: 0 4px 4px 0;
            background-color: #4cb8ac;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;

            &:focus,
            &:hover {
                background-color: #4cb8ac;
            }
        }
    }

    .watch-btn {
        height: 80px;
        width: 278px;
        border: 1px solid #4CB8AC;
        background-color: #FFFFFF;
        box-shadow: 8px 20px 60px 0 rgb(0 0 0 / 8%);
        color: #4CB8AC;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 24px;
        margin: 0 auto;
        position: absolute;
        right: 0px;
        left: 0px;
        z-index: 1;
        bottom: -42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all .2s;
        cursor: pointer;

        .watch-btn-inn {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }

            img {
                margin-right: 15px;
            }
        }

        &:hover {
            transform: translateY(-3px) !important;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

            &:after {
                transform: scaleX(1.2) scaleY(1.4);
                opacity: 0;
            }
        }

        &:active {
            transform: translateY(-1px) !important;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }

        &:after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
            background-color: #fff;
        }
    }
}
.why_falaya {
    padding: 242px 0px 160px 0;
    background-color: #0C1A38;
    clip-path: polygon(0 0%, 100% 0%, 100% 65%, 0% 100%);
    position: relative;
    height: 720px;

    .why_falaya_body {
        margin-bottom: 60px;

        h2 {
            color: #FFFFFF;
            font-size: 40px;
            font-weight: 400;
            line-height: 47px;
            text-align: center;
            margin-bottom: 24px;

            &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                left: 48.5%;
                margin: 0px auto;
                background-color: #4cb8ac;
                top: -40px;
            }
        }

        p {
            opacity: 0.8;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 0px;
        }
    }
}
.falaya-card {
    margin-top: -372px;
    padding-bottom: 120px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 209.72px;
        width: 35%;
        right: 0;
        top: 115px;
        background: linear-gradient(270deg, rgba(74, 144, 226, 0) 0%, #4A90E2 100%);
        clip-path: polygon(0 45%, 100% 0, 100% 50%, 0% 100%);
        opacity: 0.5;
    }

    .card {
        height: 418px;
        width: 760px;
        border-radius: 4px;
        background-color: #FFFFFF;
        box-shadow: 8px 20px 60px 0 rgb(0 0 0 / 8%);
        margin: 0 auto;
        min-height: unset;
        margin-top: 80px;
        padding: 0px;
        border: none;

        .card-body {
            padding: 60px 100px;

            h3 {
                color: #13171F;
                font-size: 32px;
                font-weight: bold;
                line-height: 38px;
                text-align: center;
                margin-bottom: 16px;
            }

            p {
                color: #3B414D;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                margin-bottom: 40px;
            }
        }
    }

    .viewmore {
        border-radius: 50px;
        background-color: #fff;
        color: #4cb8ac;
        margin: 60px auto 0;
        font-weight: bold;
        border: 1px solid #4cb8ac;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 10px 35px;
        letter-spacing: 1px;
        height: auto;
        width: auto;
        outline: none;
        cursor: pointer;
        z-index: 1;
        position: relative;
    }
}
.stacked-hide {
    animation-name: stacked-hide;
    transform-origin: top center
}

@keyframes stacked-hide {
    50% {
        opacity: 1;
        transform: scale(1)
    }

    80% {
        opacity: 1;
        transform: scale3d(.9, .9, .1)
    }

    to {
        opacity: 0;
        transform: scale3d(.8, .8, .1)
    }
}

.stacked-item {
    display: block;
    top: 0;
    animation: none 10000s linear 0s;
    animation-play-state: paused !important
}

.stacked-item::before {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: -1px
}

.stacked-item::after {
    content: "";
    display: block;
    height: 1px;
    margin-top: -1px
}

.stacked-hide-horizontal {
    animation-name: stacked-hide;
    transform-origin: left center
}

@keyframes stacked-hide {
    50% {
        opacity: 1;
        transform: scale(1)
    }

    80% {
        opacity: 1;
        transform: scale3d(.9, .9, .1)
    }

    to {
        opacity: 0;
        transform: scale3d(.8, .8, .1)
    }
}

.stacked-item-horizontal {
    display: block;
    left: 0;
    animation: none 10000s linear 0s;
    animation-play-state: paused !important
}

.stacked-item-horizontal::before {
    content: "";
    display: block;
    height: 1px;
    margin-left: -1px;
}

.stacked-item-horizontal::after {
    content: "";
    display: block;
    height: 1px;
    margin-right: -1px;
}

.how_it_works_title {
    background-color: #F5F7F9;
    //padding-top: 154px;
    position: relative;
    padding-top: 318px;
    margin-top: -260px;
    z-index:-1;

    // clip-path: polygon(0 0, 100% 0, 100% 78%, 0 99%);
    // position: relative;
    //  height: 200vh; 
    &::before {
        content: "";
        position: absolute;
        right: unset;
        width: 502px;
        height: 309.72px;
        opacity: 0.1;
        bottom: -250px;
        background: linear-gradient(270deg, rgba(74, 144, 226, 0) 0%, #4A90E2 100%);
        clip-path: polygon(1% 20%, 78% 0, 78% 73%, 0 93%);
        left: 0;
        z-index: 1;
    }

    h2 {
        font-weight: 300;
        color: #13171f;
        margin-bottom: 24px;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 47px;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            left: 49%;
            right: auto;
            background-color: #4cb8ac;
            top: -25px;
        }

        span {
            font-weight: bold;
        }
    }

    p {
        font-weight: 400;
        color: #13171f;
        max-width: 685px;
        margin: 0 auto 0px;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }

    .viewmore {
        border-radius: 50px;
        background-color: #fff;
        color: #4cb8ac;
        margin: 60px auto 0;
        font-weight: bold;
        border: 1px solid #4cb8ac;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 10px 35px;
        letter-spacing: 1px;
        height: auto;
        width: auto;
        outline: none;
        cursor: pointer;
    }
}
.how_it_works {
    background-color: #F5F7F9;
    padding-top: 115px !important;
    position: relative;
    min-height: 500px;

    .curve_path {
        content: " ";
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
        margin-top: -410px;
        height: 500px;
        //background-color: #f9f9f9;
        background-color: #ffffff;
        position: relative;
        bottom: -5px;
    }



    h2 {
        font-weight: 300;
        color: #13171f;
        margin-bottom: 24px;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 47px;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            left: 49%;
            right: auto;
            background-color: #4cb8ac;
            top: -25px;
        }

        span {
            font-weight: bold;
        }
    }

    p {
        font-weight: 400;
        color: #13171f;
        max-width: 685px;
        margin: 0 auto 60px;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }

    .viewmore {
        border-radius: 50px;
        background-color: #fff;
        color: #4cb8ac;
        margin: 60px auto 10px;
        font-weight: bold;
        border: 1px solid #4cb8ac;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 10px 35px;
        letter-spacing: 1px;
        height: auto;
        width: auto;
        outline: none;
        cursor: pointer;
        z-index: 1;
        position: relative;
    }

    .cards_container {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;

        .cards {
            position: relative;
            width: 760px;
            height: 442px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .card {
                width: 100%;
                background-color: #fff;
                max-height: 442px !important;
                min-height: 442px !important;
                height: 442px;
                width: 760px;
                min-width: 760px;
                position: absolute;
                left: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 60px 100px 40px;

                .card-body {
                    h3 {
                        font-size: 32px;
                        line-height: 38px;
                        margin-bottom: 16px;
                        font-weight: 700;
                    }

                    p {
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 40px;
                    }

                    img {
                        max-width: 220px;
                    }
                }
            }
        }
    }
}
.cards-row {
    background: #ffffff;

    [nz-col] {
        margin: 0px 5px;
    }
}

.card {

    background-color: #ffffff;
    margin: 0;
    padding: 30px 40px;
    text-align: center;
    border-radius: 6px;
    // box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.12), 0 20px 40px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 8px 20px 60px 0 rgb(0 0 0 / 8%);
    border: solid 1px #f1f0f0;
    //min-height: 680px;
    min-height: 713px;
    width: 360px;

    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 12px;
        color: black;
        line-height: 28px;

        span {
            font-size: 32px;
            font-weight: bold;
            color: black;
            float: right;
        }
    }

    p {
        color: #3b414d;
        font-size: 14px;
    }

    .price-des {
        color: #3b414d;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        margin-bottom: 24px;
    }

    h2 {
        font-size: 40px;
        font-weight: bold;
        color: #13171f;
        line-height: 48px;
        margin-top: 26px;
    }

    ul {
        list-style: none;
        padding: 0px;
        text-align: left;

        li {
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 10px;
            color: black;
            padding-left: 24px;
            position: relative;

            .icon {
                position: absolute;
                left: 0px;
                top: 2px;
            }
        }
    }

    .icon-img {
        display: block;
        width: 80px;
        margin: 0px auto 24px;
    }

    .list-img {
        height: 100%;
        width: 100%;
    }

    button {
        border-radius: 27px;
        background-color: blue;
        margin: 0px auto 30px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 1px;
        width: 100%;
        height: 48px;
    }

    .ally-btn {
        border: solid 1px #4cb8ac;
        background-color: transparent;
        color: #4cb8ac;
    }

    .buttons {
        background: #fff;
        color: #4cb8ac;
        border: 1px solid #4cb8ac;

        &:hover {
            background: #4cb8ac;
            color: #fff;
            border: 1px solid #4cb8ac;
        }
    }
}
.home-section {
    padding: 60px 0px 0px 0px;
}

.pricing-sec.home-section {
    .bg-layer {
        ///background-color: #f9f9f9;
        background-color: #ffffff;
        position: absolute;
        height: 752px;
        width: 100%;
        top: 0px;
        left: 0px;
    }
}
.container {
    position: relative;
}
.home-section.testimonial-section {
    position: relative;
    //background: linear-gradient(180deg, #f5f7f9 0%, #fcfbfb 100%);
    background: linear-gradient(180deg, #ffffff 0%, #fcfbfb 100%);
    padding-top: 152px;
}
.headings {
    text-align: center;
    margin-bottom: 60px;

    h2 {
        font-weight: 300;
        color: #13171f;
        margin-bottom: 37px;
        font-size: 40px;
        letter-spacing: 0;
        line-height: 47px;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 2px;
            left: auto;
            right: auto;
            // margin: 0px auto;
            background-color: #4cb8ac;
            top: -25px;
            margin-left: 82px;
        }

        span {
            font-weight: bold;
        }
    }

    p {
        font-weight: 400;
        color: #13171f;
        padding: 0px;
        max-width: 685px;
        margin: 0 auto;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 24px;
        text-align: center;
    }
}

.pricing-sec {
    padding-top: 154px;
    margin-top: 0;
    padding-bottom: 120px;
    position: relative;
    background: linear-gradient(0deg, #2B999D 0%, #4CB8AC 100%);

    .section-heading {
        margin-bottom: 30px;
    }
}

.demand_Service {
    height: 56px;
    width: auto;
    border-radius: 28px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: block;
    color: #4CB8AC;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    padding: 18px 40px;

    img {
        margin-left: 11px;
        vertical-align: middle;
        width: 15px;
    }
}

.demand_Service_up {
    margin-top: 40px;

    img {
        transform: rotate(180deg);
    }
}
.mobile_scroll {
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;

    .card {
        margin: 0px 26px 40px;
        background-color: #ffffffed;

        &:first-child {
            margin-left: 0;
        }

        .buttons {
            margin-bottom: 64px;
        }
    }

    .best_value {
        margin-top: -40px;
        min-height: 720px;
        padding-top: 70px;
        position: relative;

        .value_text {
            background-image: url("https://d1um67fy76m42o.cloudfront.net/assets/images/curve_icon_orange.png");
            background-repeat: no-repeat;
            background-position: center top;
            border-radius: 0 6px 0 12px;
            width: 160px;
            height: 40px;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
            font-size: 14px;
            line-height: 40px;
            letter-spacing: 1px;
            margin: 0px;
            padding: 0 0 0 10px;
            position: absolute;
            top: -1px;
            //right: -15px;
            right: 0px;
        }
    }
}

.falaya-card.how-works {
    margin-top: -150px;
    padding: 0 15px;

    .scroll {
        padding-left: 1%;
        margin-left: 0;
        width: 100%;
        // overflow: auto;
    }

    .card {
        height: auto;
        width: calc(100% - 15px);
        margin: 0 7px;
        min-width: 325px;
        min-height: 384px;
    }
}