<section class="sell-home">
    <div nz-row>
        <div nz-col nz-col [nzXs]="{ span: 24, offset: 0 }" [nzMd]="{ span: 24, offset: 0 }"
            [nzLg]="{ span: 10, offset: 2 }">
            <h1>Financial Planning <span class="d-block">Simplified</span> </h1>
            <p>Fee-Only | Flat Fixed Fee | No Product Selling | No Commission
                <span>
                    Experience in handling <strong> 500+</strong> fee-only financial planning clients
                    
                </span>
            </p>
        </div>
        <div nz-col [nzLg]="{ span:11 , offset: 1 }" [nzMd]="{ span: 24, offset: 0 }" [nzXs]="{ span: 24, offset: 0 }"
            class="text-center">
            <picture>
                <source srcset="
                      https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/thumbnail.webp 1x,
                      https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/thumbnail.webp 2x"
                    type="image/webp" />
                <source srcset="
                      https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/thumbnail.svg"
                    type="image/svg" />
                <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/thumbnail.svg"
                    class="sell-img" alt="home_illustration" />
            </picture>
        </div>
    </div>
</section>

<section class="why_falaya">
    <div nz-row class="section-heading">
        <div nz-col [nzLg]="{ span:24 }" [nzMd]="{ span:24 }" [nzXs]="{ span: 24}">
            <div class="why_falaya_body">
                <h2>Why <strong>PLNR?</strong></h2>
                <p>We believe that our success is measured by our client’s success.</p>
            </div>
        </div>
    </div>
</section>
<section class="falaya-card">
    <div nz-row>
        <div nz-col [nzLg]="{ span:24 }" [nzMd]="{ span:24 }" [nzXs]="{ span: 24}" class="stacked-hide stacked-item"
            style="visibility:visible;position:sticky;">
            <div class="card">
                <div class="card-body">
                    <h3>50% Less Fee</h3>
                    <p>We charge around 50% less fee that our counterparts in the financial industry.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/cost_control.svg" alt="cost_control" />
                </div>
            </div>
        </div>
        <div nz-col [nzLg]="{ span:24 }" [nzMd]="{ span:24 }" [nzXs]="{ span: 24}" class="stacked-hide stacked-item"
            style="visibility:visible;position:sticky;">
            <div class="card">
                <div class="card-body">
                    <h3>No Differential Fee</h3>
                    <p>No Differential fee is charged based on your residential status or net worth.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/max_exposure.svg" alt="max_exposure" />
                </div>
            </div>
        </div>
        <div nz-col [nzLg]="{ span:24 }" [nzMd]="{ span:24 }" [nzXs]="{ span: 24}" class="stacked-hide stacked-item"
            style="visibility:visible;position:sticky;">
            <div class="card">
                <div class="card-body">
                    <h3>Seamless Onboarding</h3>
                    <p>We ensure seamless onboarding. No excel sheets, no signing contracts manually.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/keepup_task.svg" alt="max_exposure" />
                </div>
            </div>
        </div>
        <div nz-col [nzLg]="{ span:24 }" [nzMd]="{ span:24 }" [nzXs]="{ span: 24}" class="stacked-hide stacked-item"
            style="visibility:visible;position:sticky;">
            <div class="card">
                <div class="card-body">
                    <h3>Independent</h3>
                    <p>- Not affiliated with any bank, mutual fund, or insurance company.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/sign_doc.svg" alt="max_exposure" />
                </div>
            </div>
        </div>
        <div nz-col [nzLg]="{ span:24 }" [nzMd]="{ span:24 }" [nzXs]="{ span: 24}" class="stacked-hide stacked-item"
            style="visibility:visible;position:sticky;">
            <div class="card">
                <div class="card-body">
                    <h3>Fee-Only</h3>
                    <p>Compensated only with the fee clients pay directly, not earning commissions by any means.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/demand_support.svg" alt="max_exposure" />
                </div>
            </div>
        </div>
        <div nz-col [nzLg]="{ span:24 }" [nzMd]="{ span:24 }" [nzXs]="{ span: 24}" class="stacked-hide stacked-item"
            style="visibility:visible;position:sticky;">
            <div class="card">
                <div class="card-body">
                    <h3>SEBI Registered</h3>
                    <p>We are registered with the Securities and Exchange Board of India (SEBI) as an Investment Advisor (INA).</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/demand_support.svg"
                        alt="max_exposure" />
                </div>
            </div>
        </div>
    </div>
    <button nzbutton="" nztype="primary" nzsize="large" class="viewmore" >LEARN
        MORE</button>
</section>

<section class="how_it_works_title">
    <div nz-row>
        <div nz-col [nzLg]="{ span:24 }" [nzXs]="{ span: 24}">
            <h2>How It <span>Works</span></h2>
            <p>
                <span class="d-block mb-25">Personalized Goal-based Planning in 6 Steps.</span>
            </p>
        </div>
    </div>
</section>
<section class="how_it_works">
    <div class="cards_container">
        <div class="cards">
            <div class="card">
                <div class="card-body">
                    <h3>Create A Listing</h3>
                    <p>Select your lisitng plan, add on-demand services, and complete your listing application in as
                        little as 5 minutes.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/createlisting.svg" alt="create lisitng image" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Listing Goes Live Online</h3>
                    <p>On a date of your choosing, your listing will be published to the MLS, Zillow, Truila,
                        Reator.com, Redfin, and more.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/listingslive.svg" alt="listing goes live" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Go Under Contract</h3>
                    <p>Manage tours and respond to offers right from the Falaya dashboard.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/listingcontract.svg" alt="go under contract" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Close The Deal</h3>
                    <p>The Falaya team monitors your transaction and provides support to make sure you get to the
                        closing table.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/listingclosing.svg" alt="close the deal" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Close The Deal</h3>
                    <p>The Falaya team monitors your transaction and provides support to make sure you get to the
                        closing table.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/listingclosing.svg"
                        alt="close the deal" />
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Close The Deal</h3>
                    <p>The Falaya team monitors your transaction and provides support to make sure you get to the
                        closing table.</p>
                    <img src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/listingclosing.svg"
                        alt="close the deal" />
                </div>
            </div>
        </div>
    </div>
    <button nzbutton="" nztype="primary" nzsize="large" class="viewmore" >CONTACT
        US</button>
    <div class="curve_path"></div>
</section>

<section class="home-section pricing-sec">
    <div class="bg-layer"></div>
    <div class="container">
        <div nz-row class="headings">
            <div nz-col nzSpan="24">
                <h2>Our <span>Pricing</span></h2>
                <p>
                    Our listings start at a low flat fee and licensed agents are available for a low flat fee per
                    service if you need extra the support during the process.
                </p>
            </div>
        </div>
        <div nz-row>
            <div class="mobile_scroll">
                <div nz-col [nzXs]="{ span: 21, offset: 1 }" [nzMd]="{ span: 12, offset: 1 }"
                    [nzLg]="{ span: 8, offset: 0 }">
                    <div class="card">
                        <div class="icon-img">
                            <img class="list-img" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/icons/basic.svg" alt="basic" />
                        </div>
                        <h3>Basic</h3>
                        <p>For Sale by Owner</p>
                        <h2 class="price">$399</h2>
                        <p class="price-des">one time fee</p>
                        <button nz-button nzType="primary" class="buttons" >
                            Get The Basic
                        </button>
                        <ul>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="MLS, Zillow, Realtor.com and more" />MLS, Zillow, Realtor.com and more
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Realtor Grade Signage" />Realtor Grade
                                Signage
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Scheduling Software" />Scheduling
                                Software
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="PaperWork Automation with E-sign" />PaperWork Automation with E-sign
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Push Button Purchase Agreement" />Push
                                Button Purchase Agreement
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="All Legal Documents Available" />All
                                Legal Documents Available
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="1 Year listing cancel anytime" />1 Year
                                listing cancel anytime
                            </li>
                        </ul>
                    </div>
                </div>
                <div nz-col [nzXs]="{ span: 20, offset: 1 }" [nzMd]="{ span: 12, offset: 0 }"
                    [nzLg]="{ span: 8, offset: 0 }">
                    <div class="card best_value">
                        <p class="value_text">Best Value</p>
                        <div class="icon-img">
                            <img class="list-img" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/icons/professional.svg" alt="professional" />
                        </div>
                        <h3>Professional</h3>
                        <p>Agent services at a fair price</p>
                        <h2>$399 + 1%</h2>
                        <p class="price-des">of the sales price</p>
                        <button nz-button nzType="primary" class="buttons">
                            Get The Professional
                        </button>
                        <ul>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Dedicated Real Estate Agents" />Dedicated Real Estate Agents
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Professional Photos" />Professional
                                Photos
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Pricing Support" />Pricing
                                Support
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Contract Negotiations" />Contract
                                Negotiations
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Inspection Repair Negotiations" />Inspection Repair Negotiations
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Closing Support" />Closing
                                Support
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="All Agents must maintain a 4.5 out of 5-star rating" />All Agents must maintain
                                a 4.5 out of
                                5-star rating
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="1 year cancel anytime" />1
                                Year cancel
                                anytime
                            </li>
                        </ul>
                    </div>
                </div>
                <div nz-col [nzXs]="{ span: 20, offset: 1 }" [nzMd]="{ span: 12, offset: 0 }"
                    [nzLg]="{ span: 8, offset: 0 }">
                    <div class="card" id="button-section">
                        <div class="icon-img">
                            <img class="list-img" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/icons/premium.svg" alt="premium" />
                        </div>
                        <h3>Premium</h3>
                        <p>Full-Service Agent</p>
                        <h2>$399 + 5%</h2>
                        <p class="price-des">of sales price</p>
                        <button nz-button nzType="primary" class="buttons">
                            Get The Premium
                        </button>
                        <ul>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="All items from professional included" />All items from professional included
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Professional Video Shoot" />Professional
                                Video Shoot
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Sponsored Social Media Ads" />Sponsored
                                Social Media Ads
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="Targeted Google Ads" />Targeted Google
                                Ads
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="In-person and virtual tours" />In-person
                                and virtual tours
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg" alt="Open House" />Open
                                House
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="All agents must maintain a 4.5  out of 5-star rating" />All agents must
                                maintain a 4.5 out of
                                5-star rating
                            </li>
                            <li>
                                <img class="icon" src="https://falaya-global-static-content.s3.us-east-2.amazonaws.com/assets/images/ic-available-1.svg"
                                    alt="1 year listing cancel anytime" />1 year
                                listing cancel anytime
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-section testimonial-section">
    <div class="container">
        <app-section-heading [title]="'See our customer'" [isHomePage]="true"
            [spantitle]="'testimonials'"></app-section-heading>
        <!-- <ng-template #TestimonialsHost></ng-template> -->
    </div>
</section>