/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,200;1,500;1,600&display=swap');
@import './variables.scss';
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.ant-modal-mask {
    background-color: rgb(0 0 0 / 79%);
}

.watch_how_it_works_modal {
    .ant-modal{
        min-width: 1000px !important;
        margin-top: -50px;
        .ant-modal-close {
            width: 50px;
            height: 50px;
            margin: 0;
            padding: 0;
            box-shadow: none;
            border: none;
            background-color: white;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            top: -41px;
            color: #00BFFF;
            right: -51px;
            .ant-modal-close-x { 
                font-size: 23px;
                .anticon{
                    position: absolute;
                    right: 13px;
                    top: 12px;
                }
            }
            
        }
        .ant-modal-body{
                padding: 0px;
                height: 540px;
        }
        .video-container {
            padding: 0px;
            iframe {
                 width: 100%;
                 height: 100%;
                min-height: 540px;
                vertical-align: middle;
                border-radius: 2px;
            }
        }
    }
   

}

.footer-modal{
 
        h2{
            font-size: 20px;
            font-weight: 600;
            color:#214F76;
            text-align: center;
        }
        .anticon{
            display: none;
        }
        .ant-modal-content {
            border-radius: 6px;
        }
        .content{
            max-width: 402px;
            margin: 0 auto;
        }
}


.mb-0{
    margin-bottom: 0px !important;
}
.d-block {
    display: block !important;
}
.text-muted{
    color:gray !important;
}
.container {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
}
.text-center{
    text-align: center !important;
}
.fs-12{
    font-size:12px !important;
}
.fs-14{
    font-size:14px !important;
}
.mt-30{
    margin-top: 20px !important;
}
.btn-primary{
    color: $white;
    background-color: $btn-primary;
    text-transform: uppercase;
    border-color: $btn-primary;
}
.btn-primary:hover{
    background-color:transparent;
    color:$btn-primary;
    border-color: $btn-primary !important;
    border: 1px solid !important;
}
@media (max-width: 1024px){
.container{
    width: 100%;
}
}

@media (min-width: 1900px){
    .watch_how_it_works_modal {
        .ant-modal{
            margin-top: 30px;
            min-width: 1300px !important;
            .ant-modal-body{
                    padding: 0px;
                    height: 600px;
            }
            .video-container {
                padding: 0px;
                iframe {
                     width: 100%;
                     height: 100%;
                    min-height: 600px;
                    vertical-align: middle;
                    border-radius: 2px;
                }
            }
        }
       
    
    }
}